:root {
    --retroRed: rgb(236, 55, 12);
    --peach: rgb(236, 188, 144);
    --blue: rgb(39, 28, 97);
    --retroGreen: rgb(108, 156, 145);
    --retroPerple: #95a3ce;
    --hulkGreen: #30663f;
}

h1 {
    text-align: center;
}

body {
    margin: 0 0 0 0;
}

#header-hero {
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../image/avengers.gif);
}


#user-form {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 45px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    border: 1px solid rgb(14, 28, 224);
    border-radius: 4px;    
    padding: 2px;
}

#hero-input {
    width: 400px;
    height: 25px;
    margin: 0;
    border-bottom: none;
    text-align: center;
    align-items: center;

}

#go-back {
    width: 180px;
 
}

#hero {
    color: red;
}

input:focus {
    outline: none;
}

.button{
    cursor: pointer;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: rgb(107, 107, 107);
    border: 2px solid rgb(14, 28, 224);
    border-radius: 3px;
}

.pt-2{
  padding-top: 14px;
}

.mt-2{
  margin-top: 14px;
}

#section-search {
    display: flex;
    background-color: #dbdbdb;
    height: 100vh;
}

#search-form{
  margin-top: 10vh;
}


#img-searched{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  width: 70vw;
}

#img-searched-mobile{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100vw;
  display: none;
}

.d-flex{
  display: flex;
}

.justify-center{
  margin: 25px 0 0 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.align-center{
  align-items: center;
}

.hide-1 {
  display: none;
}

 .hide-2 {
  display: none;
}




@media screen and (max-width: 576px) {
  #search-form{
    width: 100vw;
  }
  #img-searched{
    height: 40vh;
    width: 100vw;
  }

  #section-search{
    display: block;
  }
}


